@page "/Calculator/Simulation/"
@attribute [Authorize]
<PageTitle>Tablebricks - Simulation</PageTitle>


<div class="row">
    <div class="col-12">
        <div class="form-floating mb-3">
            <InputSelect id="select-fraction" @bind-Value="FractionIdAttacker" class="form-control">
                @foreach (Fraction item in Fractions)
                {
                    <option value="@item.FractionId">@item.Name</option>
                }
            </InputSelect>
            <label for="select-unit">Choose Fraction</label>
        </div>

        <div class="form-floating mb-3">
            <InputSelect id="select-unit" @bind-Value="UnitIdAttacker" class="form-control">
                @foreach (Unit item in Units.Where(x => x.FractionId == FractionIdAttacker))
                {
                    <option value="@item.UnitId">@item.Name</option>
                }
            </InputSelect>
            <label for="select-unit">Choose Attacker Unit</label>
        </div>

        <div class="form-floating mb-3">
            <InputNumber @bind-Value="Quantity" class="form-control" id="unit-quantity" placeholder="Quantity" />
            <label for="unit-quantity">Quantity</label>
        </div>

        <div class="form-floating mb-3">
            <InputNumber @bind-Value="Range" class="form-control" id="unit-quantity" placeholder="Quantity" />
            <label for="unit-quantity">Range</label>
        </div>

        <div class="form-floating mb-3">
            <InputSelect id="select-unit" @bind-Value="Cover" class="form-control">
                @foreach (string cover in Enum.GetNames(typeof(CoverTypes)))
                {
                    <option value="@cover">@cover</option>
                }
            </InputSelect>
            <label for="select-unit">Choose Cover Type</label>
        </div>

        <div class="form-floating mb-3">
            <InputSelect id="select-fraction" @bind-Value="FractionIdDefender" class="form-control">
                @foreach (Fraction item in Fractions)
                {
                    <option value="@item.FractionId">@item.Name</option>
                }
            </InputSelect>
            <label for="select-fraction">Choose Fraction</label>
        </div>

        <div class="form-floating mb-3">
            <InputSelect id="select-unit" @bind-Value="UnitIdDefender" class="form-control">
                @foreach (Unit item in Units.Where(x => x.FractionId == FractionIdDefender))
                {
                    <option value="@item.UnitId">@item.Name</option>
                }
            </InputSelect>
            <label for="select-unit">Choose Defender Unit</label>
        </div>
    </div>
</div>