@page "/"
@inject IStringLocalizer<App> localizer

<PageTitle>@localizer["TABLEBRICKS"]</PageTitle>

<div>
    <div class="card">
        <div style="position: relative">
            <img src="/assets/img/background/main.png" class="card-img-top">
            <div class="card-body d-flex flex-column align-items-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <h1 class="text-center" style="color: white; font-size: 48px;">@localizer["TABLEBRICKS"]</h1>
                <div class="text-center" style="color: white; font-size: 20px;">@localizer["SLOGAN"]</div>
            </div>
        </div>
        <div class="p-4">
            <div style="text-align: justify">
                <h4>@localizer["OUR_PROJECT"]</h4>
                <p>@localizer["HOME_TEXT_1"]</p>
                <p>@localizer["HOME_TEXT_2"]</p>
            </div>
        </div>
    </div>
</div>
