<h3>UnitForm</h3>

<EditForm Model="Input" @ref="_form">
    <FluentValidationValidator />
    <ValidationSummary />

    <p>
        <label>Name:</label>
        <InputText @bind-Value="@Input.Name" />
    </p>
    <p>
        <label>Fraction:</label>
        <InputText @bind-Value="@Input.Fraction" />
    </p>
    <p>
        <label>Description:</label>
        <InputText @bind-Value="@Input.Description" />
    </p>
    <p>
        <label>Defense:</label>
        <InputNumber @bind-Value="@Input.Defense" />
    </p>
    <p>
        <label>Moving:</label>
        <InputNumber @bind-Value="@Input.Moving" />
    </p>

</EditForm>
