@page "/Games/Game-History"
@attribute [Authorize]
@inject AuthService authService
@inject UserService userService
@inject NavigationManager navigationManager
@inherits ManagementBasePage<Game, GameService>
@inject IStringLocalizer<App> localizer

<PageTitle>@localizer["TABLEBRICKS"] - @localizer["GAME_HISTORY"]</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-header ps-4 pe-4">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h2>@localizer["MY_GAME_HISTORY"]</h2>
                <div class="ms-auto">
                    <button type="button" class="btn" @onclick="() => OpenFilter = true"><i class="fa-solid fa-filter fa-xl"></i></button>
                </div>
            </div>
        </div>
        <div class="card-content m-1">
            <div class="table-responsive">
                <table class="table mb-0 table-lg">
                    <thead>
                        <tr>
                            <th>@localizer["STATUS"]</th>
                            <th>@localizer["DATE"]</th>
                            <th>@localizer["HOST"]</th>
                            <th>@localizer["NAME"]</th>
                            <th>@localizer["GAME_MODES"]</th>
                            <th>@localizer["FORCE"]</th>
                            <th class="text-right">@localizer["ACTION"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <Virtualize Items="Data" Context="game">
                            <tr>
                                @if (!game.Players.Any())
                                {
                                    <td>@localizer["BEGINS"]</td>
                                }
                                else
                                {
                                    <td>@localizer["PLAYS"]</td>
                                }
                                <td>@game.Date.ToShortDateString()</td>
                                <td>@game.Host</td>
                                <td class="text-nowrap">@game.Name</td>
                                <td>@AppdataService.Gamemodes.FirstOrDefault(x => x.GamemodeId == game.GamemodeId)?.GetLocalization(CultureInfo.CurrentCulture)?.Name</td>
                                <td>@game.Force</td>
                                <td class="text-right">
                                    <NavLink href="@($"/Games/{game.GameId}")" style="color: #222222;">
                                        <i class="fa-solid fa-play"></i>
                                    </NavLink>
                                </td>
                            </tr>
                        </Virtualize>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (SelectedForDeletion is not null)
{
    <ConfirmModal Title="@localizer["DELETE"]"
                  OnClosed="() => SelectedForDeletion = null"
                  OnConfirmed="DeleteAsync">
        <p>@String.Format(localizer["REQUEST_DELETION"])</p>
    </ConfirmModal>
}

@if (OpenFilter)
{
    <Modal Title="@localizer["FILTER"]"
           OnClosed="() => OpenFilter = false"
           ModalSize="ModalSize.LG"
           HideFooter="true">

        <div class="card-content" style="padding: 0 1.3rem;">
            <EditForm Model="Filter" OnValidSubmit="async () => await LoadAsync(true)">
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Filter.SearchPhrase" class="form-control" id="usermanagement-filter-searchphrase" placeholder="Search users" />
                    <label for="usermanagement-filter-searchphrase">@localizer["SEARCH"]</label>
                </div>

                <div class="toolbar">
                    <button type="submit" class="btn btn-primary">@localizer["SEARCH"]</button>
                </div>
            </EditForm>
        </div>

    </Modal>
}