@page "/Administration/Units"
@attribute [Authorize(Roles = Roles.VIEW_UNITS)]
@inherits ManagementBasePage<Unit, UnitService>
@inject IStringLocalizer<App> localizer

<PageTitle>@localizer["TABLEBRICKS"] - Units (Management)</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-header ps-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>Unit Management</h2>
                <div class="text-right">
                    <AuthorizeView Roles="@(Roles.EDIT_UNITS)">
                        <Authorized>
                            <button type="button" class="btn" @onclick="UpdateAppdata"><i class="fa-solid fa-rotate-right fa-xl"></i></button>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="@(Roles.ADD_UNITS)">
                        <Authorized>
                            <button type="button" class="btn" @onclick="NewAsync"><i class="fa-solid fa-square-plus fa-xl"></i></button>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
            <div style="text-align: justify">
                <p>In the Unit Management, there is an overview of all current units which can be edited or deleted. Moreover, new units can be created.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-12 order-lg-3">
            <div class="card">
                <div class="card-header">
                    <h4>@localizer["FILTER"]</h4>
                </div>
                <div class="card-content" style="padding: 0 1.3rem;">
                    <EditForm Model="Filter" OnValidSubmit="async () => await LoadAsync(true)">
                        <div class="form-floating mb-3">
                            <InputText @bind-Value="Filter.SearchPhrase" class="form-control" id="usermanagement-filter-searchphrase" placeholder="Search users" />
                            <label for="usermanagement-filter-searchphrase">@localizer["SEARCH"]</label>
                        </div>

                        <div class="toolbar">
                            <button type="submit" class="btn btn-primary">@localizer["SEARCH"]</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-sm-12">

            <div class="card p-4">
                <div class="card-content">
                    <div class="table-responsive">
                        <table class="table mb-0 table-lg">
                            <thead>
                                <tr>
                                    <th>@localizer["NAME"]</th>
                                    <th>@localizer["FRACTION"]</th>
                                    <th class="text-right">@localizer["ACTION"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <Virtualize Items="Data" Context="user">
                                    <tr>
                                        <td>@user.GetLocalization(CultureInfo.CurrentCulture)?.Name</td>
                                        <td>@AppdataService.Fractions.FirstOrDefault(x => x.FractionId == user.FractionId)?.GetLocalization(CultureInfo.CurrentCulture)?.Name</td>
                                        <td class="text-right">
                                            <AuthorizeView Roles="@(Roles.DELETE_UNITS)">
                                                <Authorized>
                                                    <span class="aktion-icon" role="button" @onclick="() => SelectedForDeletion = user">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </span>
                                                </Authorized>
                                            </AuthorizeView>
                                            <AuthorizeView Roles="@(Roles.EDIT_UNITS)">
                                                <Authorized>
                                                    <span class="aktion-icon" role="button" @onclick="async () => await EditAsync(user)">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </span>
                                                </Authorized>
                                            </AuthorizeView>
                                        </td>
                                    </tr>
                                </Virtualize>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@if (Input is not null)
{
    <Modal Title="@String.Format("{0} {1}: {2}", @localizer["EDIT"], @localizer["UNIT"], Input.GetLocalization(CultureInfo.CurrentCulture)?.Name)"
           OnClosed="() => Input = null"
           ModalSize="ModalSize.LG"
           HideFooter="true">

        <EditForm Model="Input" @ref="_form">
            <FluentValidationValidator />
            <div class="row">
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.GetLocalization(CultureInfo.CurrentCulture).Name" class="form-control" id="unit-name" placeholder="Name" />
                        <label for="unit-name">@localizer["NAME"]</label>
                        <ValidationMessage For="() => Input.GetLocalization(CultureInfo.CurrentCulture).Name" />
                    </div>

                    <div class="form-floating mb-3">
                        <InputSelect id="select-fraction" @bind-Value="Input.FractionId" class="form-control">
                            @if (Input.FractionId == 0)
                            {
                                <option value="0" selected>@localizer["SELECT_CHOOSE"]</option>
                            }
                            @foreach (Fraction item in AppdataService.Fractions)
                            {
                                <option value="@item.FractionId">@item.GetLocalization(CultureInfo.CurrentCulture)?.Name</option>
                            }
                        </InputSelect>
                        <label for="select-fraction">@localizer["CHOOSE"] @localizer["FRACTION"]</label>
                    </div>

                    <div class="form-floating mb-3">
                        <InputSelect id="select-class" @bind-Value="Input.ClassId" class="form-control">
                            @if (Input.FractionId == 0)
                            {
                                <option value="0" selected>@localizer["SELECT_CHOOSE"]</option>
                            }
                            @foreach (Class item in AppdataService.Classes)
                            {
                                <option value="@item.ClassId">@item.GetLocalization(CultureInfo.CurrentCulture)?.Name</option>
                            }
                        </InputSelect>
                        <label for="select-class">@localizer["CHOOSE"] @localizer["CLASS"]</label>
                    </div>

                    <div class="form-floating mb-3">
                        <InputTextArea @bind-Value="Input.GetLocalization(CultureInfo.CurrentCulture).Description" class="form-control" id="unit-description" placeholder="Description" />
                        <label for="unit-description">@localizer["DESCRIPTION"]</label>
                        <ValidationMessage For="() => Input.GetLocalization(CultureInfo.CurrentCulture).Description" />
                    </div>

                    <div class="form-floating mb-3">
                        <InputTextArea @bind-Value="Input.GetLocalization(CultureInfo.CurrentCulture).Mechanic" class="form-control" id="unit-mechanic" placeholder="Mechanic" />
                        <label for="unit-mechanic">@localizer["GAME_MECHANIC"]</label>
                        <ValidationMessage For="() => Input.GetLocalization(CultureInfo.CurrentCulture).Mechanic" />
                    </div>

                    <div class="mb-3">
                        <InputFile @bind-Value="Input.Image" class="form-control" id="unit-image" placeholder="Image" />
                    </div>

                    <div class="form-floating mb-3">
                        <InputSelect id="unit-defense" @bind-Value="Input.Defense" class="form-control">
                            @if (Input.Defense == 0)
                            {
                                <option value="0" selected>@localizer["CHOOSE"] @localizer["DEFENSE"]</option>
                            }
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </InputSelect>
                        <label for="unit-defense">@localizer["SELECT_CHOOSE"]</label>
                        <ValidationMessage For="() => Input.Defense" />
                    </div>

                    <div class="form-floating mb-3">
                        <InputNumber @bind-Value="Input.Moving" class="form-control" id="unit-moving" placeholder="Moving" />
                        <label for="unit-moving">@localizer["MOVING"]</label>
                        <ValidationMessage For="() => Input.Moving" />
                    </div>

                    <div class="form-floating mb-3">
                        <InputSelect id="select-weapon" @bind-Value="Input.PrimaryWeaponId" class="form-control">
                            <option value="">None</option>
                            @foreach (Weapon item in AppdataService.Weapons)
                            {
                                <option value="@item.WeaponId">@item.GetLocalization(CultureInfo.CurrentCulture)?.Name</option>
                            }
                        </InputSelect>
                        <label for="select-weapon">@localizer["CHOOSE"] @localizer["PRIMARY"] @localizer["WEAPON"]</label>
                    </div>

                    <div class="form-floating mb-3">
                        <InputSelect id="select-weapon" @bind-Value="Input.SecondaryWeaponId" class="form-control">
                            <option value="">None</option>
                            @foreach (Weapon item in AppdataService.Weapons)
                            {
                                <option value="@item.WeaponId">@item.GetLocalization(CultureInfo.CurrentCulture)?.Name</option>
                            }
                        </InputSelect>
                        <label for="select-weapon">@localizer["CHOOSE"] @localizer["SECONDARY"] @localizer["WEAPON"]</label>
                    </div>
                </div>
            </div>
        </EditForm>

        <div class="toolbar">
            <button type="button" class="btn btn-danger" @onclick="() => Input = null">@localizer["CANCEL"]</button>
            <button type="button" class="btn btn-success" @onclick="SaveAsync">@localizer["SAVE"]</button>
        </div>
    </Modal>
}

@if (SelectedForDeletion is not null)
{
    <ConfirmModal Title="@localizer["DELETE"]"
                  OnClosed="() => SelectedForDeletion = null"
                  OnConfirmed="DeleteAsync">
        <p>@String.Format("Should the unit '{0}' really be deleted?", SelectedForDeletion.GetLocalization(CultureInfo.CurrentCulture)?.Name)</p>
    </ConfirmModal>
}