@page "/Fractions"
@inject NavigationManager navigationManager
@inject IStringLocalizer<App> localizer

<PageTitle>@localizer["TABLEBRICKS"] - @localizer["FRACTIONS"]</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-header ps-4">
            <h2>@localizer["FRACTIONS"]</h2>
            <p>@localizer["FRACTION_DESCRIPTION"]</p>
        </div>
    </div>
    <div class="row justify-content-center">
        @foreach (var fraction in List)
        {
            <div class="col-lg-6 pb-4">
                <div class="card h-100">
                    <a href="@($"/Fractions/{fraction.GetLocalization(CultureInfo.CurrentCulture)?.ShortName}")">
                        <img src="@fraction.ConvertedImage" class="card-img-top">
                    </a>
                    <div class="card-header ps-4">
                        <h4 class="card-title">@fraction.GetLocalization(CultureInfo.CurrentCulture)?.Name</h4>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text" style="text-align: justify">@fraction.GetLocalization(CultureInfo.CurrentCulture)?.Description</p>
                        <a href="@($"/Fractions/{fraction.GetLocalization(CultureInfo.CurrentCulture)?.ShortName}")" class="btn btn-primary mt-auto">More</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>