@page "/Fractions"
@inject NavigationManager navigationManager
@inject IStringLocalizer<App> localizer

<PageTitle>@localizer["TABLEBRICKS"] - @localizer["FRACTIONS"]</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-header ps-4">
            <h2>@localizer["FRACTIONS"]</h2>
            <p>@localizer["FRACTION_DESCRIPTION"]</p>
        </div>
    </div>
    <div class="row justify-content-center">
        @foreach (var fraction in List)
        {
            <div class="col-lg-6 pb-4">
                <div class="card h-100">
                    @if (fraction.ConvertedImage != string.Empty)
                    {
                        <a href="@($"/Fractions/{fraction.GetLocalization(AppdataService.SupportedCultures[0])?.ShortName}")">
                            <img src="@fraction.ConvertedImage" class="card-img-top">
                        </a>
                    }
                    <div class="card-header ps-4">
                        <h4 class="card-title">@fraction.GetLocalization(CultureInfo.CurrentCulture)?.Name</h4>
                    </div>
                    <div class="card-body d-flex flex-column ps-4">
                        <a href="@($"/Fractions/{fraction.GetLocalization(AppdataService.SupportedCultures[0])?.ShortName}")" class="btn btn-primary mt-auto">@localizer["MORE"]</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>