@page "/Game-Modes/{GamemodeName}"
@inject IStringLocalizer<App> localizer

<PageTitle>@localizer["TABLEBRICKS"] - @Gamemode.GetLocalization(CultureInfo.CurrentCulture)?.Name</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-header ps-4 d-flex justify-content-between align-items-center">
            <h2>@Gamemode.GetLocalization(CultureInfo.CurrentCulture)?.Name</h2>
            <a href="@($"/Game-Modes")"><button type="button" class="btn btn-dark mt-1">Back</button></a>
        </div>
        @if (Gamemode.ConvertedImage != string.Empty)
        {
            <img src="@Gamemode.ConvertedImage" class="card-img-top">
        }
        <div class="card-body p-4">
            <div>
                <h4>@localizer["DESCRIPTION"]</h4>
                <p>@Gamemode.GetLocalization(CultureInfo.CurrentCulture)?.Description</p>
            </div>
            <div>
                <h4>@localizer["GAME_MECHANIC"]</h4>
                <p>@Gamemode.GetLocalization(CultureInfo.CurrentCulture)?.Mechanic</p>
            </div>
        </div>
    </div>
</div>