@page "/Gamemodes/{gamemodeName}"
<PageTitle>Tablebricks - @Gamemode.Name</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>@Gamemode.Name</h2>
        </div>
        @if (Gamemode.ConvertedImage != string.Empty)
        {
            <img src="@Gamemode.ConvertedImage" class="card-img-top" alt="@Gamemode.Name">
        }
        <div class="card-body">
            <div>
                <h4>Description</h4>
                <p style="text-align: justify">@Gamemode.Description</p>
            </div>
            <div>
                <h4>Mechanic</h4>
                <p style="text-align: justify">@Gamemode.Mechanic</p>
            </div>
        </div>
    </div>
</div>