@page "/Tables"
@inject IStringLocalizer<App> localizer

<PageTitle>@localizer["TABLEBRICKS"] - @localizer["DAMAGE_TABLE"]</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-header ps-4">
            <h2>@localizer["DAMAGE_TABLE"]</h2>
            <p>@localizer["DAMAGE_TABLE_DESCRIPTION"]</p>
        </div>
    </div>
    <div class="card p-4">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>@localizer["UNIT"]</th>
                        @for (int i = 1; i <= 10; i++)
                        {
                            <th>@localizer["D"]@(i)</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= 10; i++)
                    {
                        <tr>
                            <th>@localizer["A"]@(i)</th>
                            @for (int j = 1; j <= 10; j++)
                            {
                                var values = Calculation.AttackValueTranslator(i, j);
                                if (values.Item2 > 0)
                                {
                                    <td>@values.Item1&@values.Item2</td>
                                }
                                else
                                {
                                    <td>@values.Item1</td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>