@page "/Fractions/{fractionName}"
@inject NavigationManager navigationManager
<PageTitle>Tablebricks - @Fraction.ShortName</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>@Fraction.Name</h2>
            <p>Overview about the unit types of the @Fraction.Name</p>
        </div>
    </div>
    <div class="row">
        @foreach (var unit in List)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                <div class="card h-100">
                    @if (unit.ConvertedImage != string.Empty)
                    {
                        <a href="/Fractions/@Fraction.ShortName/@unit.UnitId">
                            <img src="@unit.ConvertedImage" class="card-img-top" alt="@unit.Name">
                        </a>
                    }
                    <div class="card-header ps-4">
                        <h4 class="card-title">@unit.Name</h4>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text" style="text-align: justify">@unit.Description</p>
                        <a href="/Fractions/@Fraction.ShortName/@unit.UnitId" class="btn btn-primary mt-auto">More</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>