@page "/Administration/Fractions"
@attribute [Authorize(Roles = Roles.VIEW_FRACTIONS)]
@inherits ManagementBasePage<Fraction, FractionService>
@inject IStringLocalizer<App> localizer

<PageTitle>>@localizer["TABLEBRICKS"] - @localizer["FRACTIONS"] (@localizer["MANAGEMENT"])</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-header ps-4 pe-4">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h2>Fraction Management</h2>
                <div class="text-right">
                    <div class="ms-auto">
                        <button type="button" class="btn" @onclick="() => OpenFilter = true"><i class="fa-solid fa-filter fa-xl"></i></button>
                        <AuthorizeView Roles="@(Roles.EDIT_FRACTIONS)">
                            <Authorized>
                                <button type="button" class="btn" @onclick="UpdateAppdata"><i class="fa-solid fa-rotate-right fa-xl"></i></button>
                            </Authorized>
                        </AuthorizeView>
                        <AuthorizeView Roles="@(Roles.ADD_FRACTIONS)">
                            <Authorized>
                                <button type="button" class="btn" @onclick="NewAsync"><i class="fa-solid fa-square-plus fa-xl"></i></button>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-content m-1">
            <div class="table-responsive">
                <table class="table mb-0 table-lg">
                    <thead>
                        <tr>
                            <th>@localizer["NAME"]</th>
                            <th class="text-right">@localizer["ACTION"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <Virtualize Items="Data" Context="fraction">
                            <tr>
                                <td class="text-nowrap">
                                    <a style="color: inherit; text-decoration: none;">@AppdataService.Fractions.FirstOrDefault(x => x.FractionId == fraction.FractionId)?.GetLocalization(CultureInfo.CurrentCulture)?.Name</a>
                                </td>
                                <td class="text-right">
                                    <AuthorizeView Roles="@(Roles.EDIT_FRACTIONS)">
                                        <Authorized>
                                            <span class="pe-1 aktion-icon" role="button" @onclick="async () => await EditAsync(fraction)">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </span>
                                        </Authorized>
                                    </AuthorizeView>
                                    <AuthorizeView Roles="@(Roles.DELETE_FRACTIONS)">
                                        <Authorized>
                                            <span class="pe-1 aktion-icon" role="button" @onclick="() => SelectedForDeletion = fraction">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </span>
                                        </Authorized>
                                    </AuthorizeView>
                                </td>
                            </tr>
                        </Virtualize>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (Input is not null)
{
    var localization = Input.GetLocalization(CultureInfo.CurrentCulture);

    if (localization != null)
    {
        <Modal Title="@String.Format("{0} {1}: {2}", @localizer["EDIT"], @localizer["FRACTION"], Input?.GetLocalization(CultureInfo.CurrentCulture)?.Name)"
               OnClosed="() => Input = null"
               ModalSize="ModalSize.LG"
               HideFooter="true">

            <EditForm Model="Input" @ref="_form">
                <FluentValidationValidator />
                <div class="row">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <InputText @bind-Value="localization.Name" class="form-control" id="fraction-name" placeholder="Name" />
                            <label for="fraction-name">@localizer["NAME"]</label>
                            <ValidationMessage For="() => localization.Name" />
                        </div>

                        <div class="form-floating mb-3">
                            <InputText @bind-Value="localization.ShortName" class="form-control" id="fraction-shortname" placeholder="Short Name" />
                            <label for="fraction-shortname">@localizer["SHORT_NAME"]</label>
                            <ValidationMessage For="() => localization.ShortName" />
                        </div>

                        <div class="form-floating mb-3">
                            <InputTextArea @bind-Value="localization.Description" class="form-control" id="fraction-description" placeholder="Description" />
                            <label for="fraction-description">@localizer["DESCRIPTION"]</label>
                            <ValidationMessage For="() => localization.Description" />
                        </div>
                    </div>
                </div>
            </EditForm>

            <div class="toolbar">
                <button type="button" class="btn btn-danger" @onclick="() => Input = null">@localizer["CANCEL"]</button>
                <button type="button" class="btn btn-success" @onclick="SaveAsync">@localizer["SAVE"]</button>
            </div>
        </Modal>
    }
}

@if (SelectedForDeletion is not null)
{
    <ConfirmModal Title="@localizer["DELETE"]"
                  OnClosed="() => SelectedForDeletion = null"
                  OnConfirmed="DeleteAsync">
        <p>@String.Format(localizer["REQUEST_DELETION"])</p>
    </ConfirmModal>
}

@if (OpenFilter)
{
    <Modal Title="@localizer["FILTER"]"
           OnClosed="() => OpenFilter = false"
           ModalSize="ModalSize.LG"
           HideFooter="true">

        <div class="card-content" style="padding: 0 1.3rem;">
            <EditForm Model="Filter" OnValidSubmit="async () => await LoadAsync(true)">
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Filter.SearchPhrase" class="form-control" id="usermanagement-filter-searchphrase" placeholder="Search users" />
                    <label for="usermanagement-filter-searchphrase">@localizer["SEARCH"]</label>
                </div>

                <div class="toolbar">
                    <button type="submit" class="btn btn-primary">@localizer["SEARCH"]</button>
                </div>

            </EditForm>
        </div>

    </Modal>
}