@page "/Account/Details"
@attribute [Authorize]
@inject AuthService authService
<PageTitle>Accountdetails</PageTitle>
<h3>Accountdetails</h3>


@if (CurrentUser is not null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="fb-profile-block">
                    <div class="fb-profile-block-thumb cover-container"></div>
                    <div class="profile-img">
                        <a href="#">
                            <img src="@CurrentUser.ConvertedImage" alt="" title="Logo">
                        </a>
                    </div>
                    <div class="profile-name">
                        <h2>@CurrentUser.Username (@CurrentUser.DisplayName)</h2>
                    </div>

                    <div class="fb-profile-block-menu">
                        <div class="block-menu">
                            <ul>
                                <li><a @onclick="() => Menu(0)">Information</a></li>
                                <li><a @onclick="() => Menu(1)">Fractions</a></li>
                                <li><a @onclick="() => Menu(2)">Friends</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
        @if (Option == 0)
        {
            <div class="table-responsive">
                <table class="table table-lg">
                    <tbody>
                        <tr>
                            <td class="text-bold-500">Name</td>
                            <td>@CurrentUser.DisplayName</td>
                        </tr>
                        <tr>
                            <td class="text-bold-500">Username</td>
                            <td>@CurrentUser.Username</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        else if (Option == 1)
        {
            <div class="form-group">
                <label for="fractions">Fractions</label>
                <InputSelect id="fractions" @bind-Value="SelectedFraction" class="form-control">
                    @foreach (Fraction item in Fractions)
                    {
                        <option value="@item.FractionId">@item.Name</option>
                    }
                </InputSelect>
            </div>
        }
        else if (Option == 2)
        {

        }
        else
        {

        }
        </div>
    </div>
}