@page "/Account/Games/{gameId:int}"
@attribute [Authorize]
@inject AuthService authService
@inject GameService gameService
@inject UnitService unitService
@inject UserService userService
@inject PlayerService playerService
@inject TemplateService templateService
@inject IStringLocalizer<App> localizer

<PageTitle>@localizer["TABLEBRICKS"] - @localizer["GAME"]</PageTitle>

@if (Game is not null)
{
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>@Game.Name</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card p-4">
                    <h1 class="text-center">Team 1</h1>
                    @foreach (var player in Game.Players.Where(x => x.Team == 1))
                    {
                        <div class="row">
                            <div class="col">
                                <h4>@player.User.Username (@player.User.DisplayName)</h4>
                            </div>
                            @if (player.UserId == _loggedInUser?.UserId && !player.StartUnits.Any())
                            {
                                <div class="col-auto">
                                    <button type="button" class="btn pt-0" @onclick="() => Player = player"><i class="fa-solid fa-user-plus"></i></button>
                                </div>
                            }
                            else if (player.StartUnits.Any())
                            {
                                <div class="col-auto">
                                    <i class="fa-solid fa-check" style="color: #008000;"></i>
                                </div>
                            }
                        </div>
                        <div class="table-responsive">
                            <table class="table table-lg">
                                <thead>
                                    <tr>
                                        <th>@localizer["NAME"]</th>
                                        <th>@localizer["QUANTITY"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (player.UserId == _loggedInUser?.UserId || PlayersReady)
                                    {
                                        @foreach (var unit in player.StartUnits)
                                        {
                                            <tr>
                                                <td>@unit.GetLocalization(CultureInfo.CurrentCulture)?.Name</td>
                                                <td>@unit.Quantity</td>
                                            </tr>
                                        }
                                    }
                                    <tr>
                                        <td class="font-bold">Used Force</td>
                                        <td class="font-bold">@player.UsedForce</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card p-4">
                    <h1 class="text-center">VS</h1>
                    <p>@localizer["GAME_MODE"]: @AppdataService.Gamemodes.FirstOrDefault(x => x.GamemodeId == Game.GamemodeId)?.GetLocalization(CultureInfo.CurrentCulture)?.Name</p>
                    @if (Game.Rounds is not null)
                    {
                        <p>@localizer["ROUNDS"]: @Game.Rounds</p>
                    }
                    <p>@localizer["FORCE"]: @Game.Force</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card p-4">
                    <h1 class="text-center">Team 2</h1>
                    @foreach (var player in Game.Players.Where(x => x.Team == 2))
                    {
                        <div class="row">
                            <div class="col">
                                <h4>@player.User.Username (@player.User.DisplayName)</h4>
                            </div>
                            @if (player.UserId == _loggedInUser?.UserId && !player.StartUnits.Any())
                            {
                                <div class="col-auto">
                                    <button type="button" class="btn pt-0" @onclick="() => Player = player"><i class="fa-solid fa-user-plus"></i></button>
                                </div>
                            }
                            else if (player.StartUnits.Any())
                            {
                                <div class="col-auto">
                                    <i class="fa-solid fa-check" style="color: #008000;"></i>
                                </div>
                            }
                        </div>
                        <div class="table-responsive">
                            <table class="table table-lg">
                                <thead>
                                    <tr>
                                        <th>@localizer["NAME"]</th>
                                        <th>@localizer["QUANTITY"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (player.User.UserId == _loggedInUser?.UserId || PlayersReady)
                                    {
                                        @foreach (var unit in player.StartUnits)
                                        {
                                            <tr>
                                                <td>@unit.GetLocalization(CultureInfo.CurrentCulture)?.Name</td>
                                                <td>@unit.Quantity</td>
                                            </tr>
                                        }
                                    }
                                    <tr>
                                        <td class="font-bold">Used Force</td>
                                        <td class="font-bold">@player.UsedForce</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @if (!Game.Players.Any())
    {
        <Modal Title="@String.Format($"{Game.Name}")"
               ModalSize="ModalSize.LG"
               HideFooter="true">

            <EditForm Model="Game" @ref="_formGame">
                <div class="row">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <InputText @bind-Value="Game.Name" class="form-control" id="game-name" placeholder="Name" readonly />
                            <label for="game-name">@localizer["NAME"]</label>
                        </div>

                        <div class="form-floating mb-3">
                            <InputText id="select-unit" @bind-Value="AppdataService.Gamemodes.FirstOrDefault(x => x.GamemodeId == Game.GamemodeId).GetLocalization(CultureInfo.CurrentCulture).Name" class="form-control" readonly />
                            <label for="game-rounds">@localizer["FRACTION"]</label>
                        </div>

                        @if (Game.Rounds is not null)
                        {
                            <div class="form-floating mb-3">
                                <InputNumber id="game-rounds" @bind-Value="Game.Rounds" class="form-control" readonly />
                                <label for="game-rounds">@localizer["ROUNDS"]</label>
                            </div>
                        }

                        <div class="form-floating mb-3">
                            <InputNumber id="game-force" @bind-Value="Game.Force" class="form-control" readonly />
                            <label for="game-force">@localizer["FORCE"]</label>
                        </div>

                        @if (Game.GameId > 0 && _loggedInUser is not null)
                        {
                            <h4>Team 1</h4>

                            <div class="table-responsive">
                                <table class="table table-lg">
                                    <thead>
                                        <tr>
                                            <th>@localizer["USERNAME"]</th>
                                            <th>@localizer["NAME"]</th>
                                            <th>@localizer["ACTION"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@_loggedInUser.Username</td>
                                            <td>@_loggedInUser.DisplayName</td>
                                            <td></td>
                                        </tr>
                                        @foreach (var player in SelectedPlayers.Where(x => x.Team == 1))
                                        {
                                            <tr>
                                                <td>@player.User.Username</td>
                                                <td>@player.User.DisplayName</td>
                                                <td>
                                                    <button class="btn">
                                                        <i class="fa-solid fa-trash-can" @onclick="() => SelectedPlayers.Remove(player)"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <h4>Team 2</h4>

                            <div class="table-responsive">
                                <table class="table table-lg">
                                    <thead>
                                        <tr>
                                            <th>@localizer["USERNAME"]</th>
                                            <th>@localizer["NAME"]</th>
                                            <th>@localizer["ACTION"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var player in SelectedPlayers.Where(x => x.Team == 2))
                                        {
                                            <tr>
                                                <td>@player.User.Username</td>
                                                <td>@player.User.DisplayName</td>
                                                <td>
                                                    <button class="btn">
                                                        <i class="fa-solid fa-trash-can" @onclick="() => SelectedPlayers.Remove(player)"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="input-group">
                                    <select @onchange="UserSelectionChangedAsync" class="form-select" id="inputGroupSelect04" aria-label="Unit">
                                        @if (SelectedPlayer is null)
                                        {
                                            <option value="0" selected>@localizer["SELECT_CHOOSE"]</option>
                                        }
                                        else
                                        {
                                            <option value="0">@localizer["SELECT_CHOOSE"]</option>
                                        }

                                        @foreach (var user in Friends)
                                        {
                                            @if (user is not null)
                                            {
                                                <option value="@user.User.UserId">@user.User.Username</option>
                                            }
                                        }
                                    </select>

                                    <button @onclick="async () => await AddUserAsync()" class="btn btn-success" type="button" disabled="@(SelectedPlayer is null || SelectedTeam == 0)">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                                <div>
                                    <select @bind="SelectedTeam" class="form-select" aria-label="Team">
                                        <option value="0" selected>@localizer["SELECT_CHOOSE"]</option>
                                        <option value="1">Team 1</option>
                                        <option value="2">Team 2</option>
                                    </select>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </EditForm>

            <div class="toolbar">
                <button type="button" class="btn btn-success" @onclick="SavePlayersAsync">@localizer["SAVE"]</button>
            </div>
        </Modal>
    }
}

@if (Game is not null && Player is not null && _loggedInUser is not null)
{
    <Modal Title="@localizer["ARMY_BUILDER"]"
           OnClosed="() => Player = null"
           ModalSize="ModalSize.LG"
           HideFooter="true">

        <EditForm Model="Player" @ref="_formArmy">
            <FluentValidationValidator />
            <div class="row">
                <div class="col-12">

                    <div class="form-floating mb-3">
                        <InputSelect id="select-fraction" @bind-Value="Player.FractionId" @oninput="ClearUnitsAsync" class="form-control">
                            @if (Player.FractionId == 0)
                            {
                                <option value="0" selected>@localizer["SELECT_CHOOSE"]</option>
                            }
                            @foreach (Fraction item in AppdataService.Fractions)
                            {
                                <option value="@item.FractionId">@item.GetLocalization(CultureInfo.CurrentCulture)?.Name</option>
                            }
                        </InputSelect>
                        <label for="select-fraction">@localizer["CHOOSE_FRACTION"]</label>
                        <ValidationMessage For="() => Player.FractionId" />
                    </div>

                    <div class="form-floating mb-3">
                        <InputSelect id="player-template" @bind-Value="SelectedTemplate" class="form-control">
                            <option value="0" selected>@localizer["SELECT_CHOOSE"]</option>
                            @foreach (Template item in Templates.Where(x => x.Force == Game.Force && x.FractionId == Player.FractionId))
                            {
                                <option value="@item.TemplateId">@item.Name</option>
                            }
                        </InputSelect>
                        <label for="player-template">@localizer["TEMPLATE"]</label>
                    </div>

                    <h4>@localizer["UNITS"]</h4>

                    <div class="table-responsive">
                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    <th>@localizer["NAME"]</th>
                                    <th>@localizer["QUANTITY"]</th>
                                    <th>@localizer["FORCE"]</th>
                                    <th>@localizer["ACTION"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (SelectedTemplate > 0)
                                {
                                    Player.StartUnits.Clear();
                                    @foreach (var unit in Templates.FirstOrDefault(x => x.TemplateId == SelectedTemplate)?.Units ?? new())
                                    {
                                        Player.StartUnits.Add(unit);
                                    }
                                }
                                else
                                {
                                    Player.StartUnits.Clear();
                                }

                                @foreach (var unit in Player.StartUnits)
                                {
                                    int maxQuantity = _loggedInUser?.Units?.FirstOrDefault(x => x.UnitId == unit.UnitId)?.Quantity ?? 0;

                                    <tr>
                                        <td class="text-bold-500">@unit.GetLocalization(CultureInfo.CurrentCulture)?.Name</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <button class="btn" @onclick="async () => await DecrementAsync(unit)">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>
                                                <input class="text-right" @bind="unit.Quantity" max="maxQuantity" readonly style="width:40px" />
                                                <button class="btn" @onclick="async () => await IncrementAsync(unit)">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <p>@unit.ForceOfQuantity (@unit.Force)</p>
                                        </td>
                                        <td>
                                            <button class="btn">
                                                <i class="fa-solid fa-trash-can" @onclick="async () => await ClearUnitAsync(unit)"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }

                                <tr>
                                    <th><ValidationMessage For="() => Player.UsedForce" /></th>
                                    <th></th>
                                    <th>@Player.UsedForce</th>
                                    <th>
                                        @if (Player.StartUnits.Any())
                                        {
                                            <button class="btn">
                                                <i class="fa-solid fa-trash-can" @onclick="ClearUnitsAsync"></i>
                                            </button>
                                        }
                                    </th>
                                </tr>

                                @if (true)
                                {
                                    <tr>
                                        <td colspan="3">
                                            <div class="input-group">
                                                <select @onchange="UnitSelectionChangedAsync" class="form-select" id="inputGroupSelect04" aria-label="Unit">
                                                    @if (SelectedUnit is null)
                                                    {
                                                        <option value="0" selected>@localizer["SELECT_CHOOSE"]</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="0">@localizer["SELECT_CHOOSE"]</option>
                                                    }

                                                    @foreach (var unit in _loggedInUser.Units.Where(x => x.FractionId == Player.FractionId))
                                                    {
                                                        var templateUnit = Player.StartUnits.FirstOrDefault(x => x.UnitId == unit.UnitId);
                                                        @if (templateUnit is null)
                                                        {
                                                            <option value="@unit.UnitId">@unit.GetLocalization(CultureInfo.CurrentCulture)?.Name</option>
                                                        }
                                                    }
                                                </select>

                                                <button @onclick="AddUnitAsync" class="btn btn-success" type="button" disabled="@(SelectedUnit is null)">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </EditForm>

        <div class="toolbar">
            <button type="button" class="btn btn-danger" @onclick="() => Player = null">@localizer["CANCEL"]</button>
            <button type="button" class="btn btn-success" @onclick="SaveArmyAsync">@localizer["SAVE"]</button>
        </div>
    </Modal>
}