@page "/Account/Games"
@attribute [Authorize]
@inject AuthService authService
@inject UserService userService
@inherits ManagementBasePage<Game, GameService>
@inject IStringLocalizer<App> localizer

<PageTitle>@localizer["TABLEBRICKS"] - Games (History)</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-header ps-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>@localizer["GAME"]</h2>
                <button type="button" class="btn" @onclick="NewAsync"><i class="fa-solid fa-square-plus fa-xl"></i></button>
            </div>
            <div style="text-align: justify">
                <p>@localizer["GAME_INFO"]</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-12 order-lg-3">
            <div class="card">
                <div class="card-header">
                    <h4>@localizer["FILTER"]</h4>
                </div>
                <div class="card-content" style="padding: 0 1.3rem;">
                    <EditForm Model="GameFilter" OnValidSubmit="async () => await LoadAsync(true)">
                        <div class="form-floating mb-3">
                            <InputText @bind-Value="GameFilter.SearchPhrase" class="form-control" id="gamemanagement-filter-searchphrase" placeholder="Search games" />
                            <label for="gamemanagement-filter-searchphrase">@localizer["SEARCH"]</label>
                        </div>

                        <div class="toolbar">
                            <button type="submit" class="btn btn-primary">@localizer["SEARCH"]</button>
                        </div>

                    </EditForm>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-sm-12">

            <div class="card p-4">
                <div class="card-content">
                    <!-- Table with no outer spacing -->
                    <div class="table-responsive">
                        <table class="table mb-0 table-lg">
                            <thead>
                                <tr>
                                    <th>@localizer["NAME"]</th>
                                    <th>@localizer["GAME_MODES"]</th>
                                    <th>@localizer["DATE"]</th>
                                    <th class="text-right">@localizer["ACTION"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <Virtualize Items="Data" Context="game">
                                    <tr>
                                        <td>@game.Name</td>
                                        <td>@AppdataService.Gamemodes.FirstOrDefault(x => x.GamemodeId == game.GamemodeId)?.GetLocalization(CultureInfo.CurrentCulture)?.Name</td>
                                        <td>@game.Date.ToShortDateString()</td>
                                        <td class="text-right">
                                            <span class="aktion-icon" role="button" @onclick="() => SelectedForDeletion = game">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </span>
                                            <span class="aktion-icon" role="button" @onclick="async () => await EditAsync(game)">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </span>
                                            <a href="@($"/Account/Games/{game.Id}")" class="btn btn-primary mt-auto">More</a>
                                        </td>
                                    </tr>
                                </Virtualize>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@if (Input is not null)
{
    <Modal Title="@String.Format("Edit game: {0}", Input.Name)"
           OnClosed="() => Input = null"
           ModalSize="ModalSize.LG"
           HideFooter="true">

        <EditForm Model="Input" @ref="_form">
            <FluentValidationValidator />
            <div class="row">
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.Name" class="form-control" id="game-name" placeholder="Name" />
                        <label for="game-name">@localizer["NAME"]</label>
                        <ValidationMessage For="() => Input.Name" />
                    </div>

                    <div class="form-floating mb-3">
                        <InputSelect id="select-unit" @bind-Value="Input.GamemodeId" class="form-control">
                            @foreach (Gamemode item in AppdataService.Gamemodes)
                            {
                                <option value="@item.GamemodeId">@item.GetLocalization(CultureInfo.CurrentCulture)?.Name</option>
                            }
                        </InputSelect>
                        <label for="select-unit">@localizer["GAME_MODES"]</label>
                        <ValidationMessage For="() => Input.GamemodeId" />
                    </div>

                    <div class="form-floating mb-3">
                        <InputSelect id="game-rounds" @bind-Value="Input.Rounds" class="form-control">
                            @for (int i = 6; i <= 14; i += 1)
                            {
                                <option value="@i">@i</option>
                            }
                        </InputSelect>
                        <label for="game-rounds">@localizer["ROUNDS"]</label>
                        <ValidationMessage For="() => Input.Rounds" />
                    </div>

                    <div class="form-floating mb-3">
                        <InputSelect id="game-force" @bind-Value="Input.Force" class="form-control">
                            @for (int i = 200; i <= 800; i += 100)
                            {
                                <option value="@i">@i</option>
                            }
                        </InputSelect>
                        <label for="game-force">@localizer["FORCE"]</label>
                        <ValidationMessage For="() => Input.Force" />
                    </div>

                    <h4>Team 1</h4>

                    <div class="table-responsive">
                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    <th>@localizer["USERNAME"]</th>
                                    <th>@localizer["NAME"]</th>
                                    <th>@localizer["ACTION"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var player in Input.Players.Where(x => x.Team == 1))
                                {
                                    <tr>
                                        <td>@player.User.Username</td>
                                        <td>@player.User.DisplayName</td>
                                        <td>
                                            <button class="btn">
                                                <i class="fa-solid fa-trash-can" @onclick="() => Input.Players.Remove(player)"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }

                                <tr>
                                    <td colspan="3">
                                        <div class="input-group">
                                            <select @onchange="UserSelectionChangedAsync" class="form-select" id="inputGroupSelect04" aria-label="Unit">
                                                @if (SelectedUser is null)
                                                {
                                                    <option value="0" selected>@localizer["SELECT_CHOOSE"]</option>
                                                }
                                                else
                                                {
                                                    <option value="0">@localizer["SELECT_CHOOSE"]</option>
                                                }

                                                @foreach (var user in Friends)
                                                {
                                                    @if (user is not null)
                                                    {
                                                        <option value="@user.User.UserId">@user.User.Username</option>
                                                    }
                                                }
                                            </select>

                                            <button @onclick="async () => await AddUserAsync(1)" class="btn btn-success" type="button" disabled="@(SelectedUser is null)">
                                                <i class="fa-solid fa-plus"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </EditForm>

        <div class="toolbar">
            <button type="button" class="btn btn-danger" @onclick="() => Input = null">@localizer["Cancel"]</button>
            <button type="button" class="btn btn-success" @onclick="SaveAsync">@localizer["SAVE"]</button>
        </div>
    </Modal>
}

@if (SelectedForDeletion is not null)
{
    <ConfirmModal Title="Delete"
                  OnClosed="() => SelectedForDeletion = null"
                  OnConfirmed="DeleteAsync">
        <p>@String.Format("Should the game '{0}' really be deleted?", SelectedForDeletion.Name)</p>
    </ConfirmModal>
}