@page "/Account/Profile/{userName}"
@page "/Account/Profile/"
@attribute [Authorize]
@inject AuthService authService
@inject UnitService unitService
@inject UserService userService
@inject IStringLocalizer<App> localizer

<PageTitle>@localizer["TABLEBRICKS"] - @localizer["ACCOUNT"]</PageTitle>

@if (CurrentUser is not null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-block">
                    <div class="profile-block-thumb profile-banner rounded"></div>
                    <div class="profile-img">
                        <a>
                            <img src="@CurrentUser?.ConvertedImage" alt="Logo">
                        </a>
                    </div>
                    <div class="profile-name">
                        <h2>@CurrentUser?.Username (@CurrentUser?.DisplayName)</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-lg-6">
                <div class="card p-4 pb-3">
                    <div class="row">
                        <div class="col">
                            <h4>@localizer["ABOUT_ME"]</h4>
                        </div>
                        @if (CurrentUser?.UserId == _loggedInUser?.UserId)
                        {
                            <div class="col-auto text-end">
                                <button type="button" class="btn pt-0" @onclick="OpenEditProfile"><i class="fa-solid fa-user-pen"></i></button>
                            </div>
                        }
                    </div>
                    <p>@CurrentUser?.Description</p>
                </div>

                <div class="card p-4">
                    <div class="row">
                        <div class="col">
                            <h4>@localizer["FRIENDS"]</h4>
                        </div>
                        @if (CurrentUser?.UserId == _loggedInUser?.UserId)
                        {
                            <div class="col-auto text-end">
                                <button type="button" class="btn pt-0" @onclick="OpenFriendModal"><i class="fa-solid fa-user-plus"></i></button>
                            </div>
                        }
                    </div>
                    <div class="table-responsive">
                        <table class="table table-lg">
                            <tbody>
                                @foreach (User item in Friends)
                                {
                                    <tr>
                                        <td>
                                            <a href="/Account/Profile/@item.Username">
                                                <img src="@item.ConvertedImage" height="50" width="50" class="rounded-circle">
                                            </a>
                                        </td>
                                        <td>@item.Username (@item.DisplayName)</td>
                                        @if (CurrentUser?.UserId == _loggedInUser?.UserId)
                                        {
                                            <td>
                                                <span class="aktion-icon" role="button" @onclick="() => DeleteFriendAsync(item.UserId)">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </span>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="p-4">
                        <div class="row">
                            <div class="form-group col">
                                <h4>@localizer["ARMIES"]</h4>
                            </div>
                            @if (CurrentUser?.UserId == _loggedInUser?.UserId)
                            {
                                <div class="col-auto text-end">
                                    <button type="button" class="btn pt-0" @onclick="OpenUnitModal"><i class="fa-solid fa-person-circle-plus fa-lg"></i></button>
                                </div>
                            }
                        </div>
                        <div class="form-floating">
                            <InputSelect id="fractions" @bind-Value="SelectedFraction" @oninput="SelectFractionUnitsByUser" class="form-control">
                                @foreach (Fraction item in Fractions)
                                {
                                    <option value="@item.FractionId">@item.GetLocalization(CultureInfo.CurrentCulture)?.Name</option>
                                }
                            </InputSelect>
                            <label for="fractions">@localizer["FRACTION"]</label>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-lg">
                                <thead>
                                    <tr>
                                        <th>@localizer["UNIT"]</th>
                                        <th>@localizer["QUANTITY"]</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Unit item in UserUnits.Where(x => x.FractionId == SelectedFraction))
                                    {
                                        <tr>
                                            <td>
                                                <div>@item.GetLocalization(CultureInfo.CurrentCulture)?.Name</div>
                                            </td>
                                            <td class="align-items-center">@item.Quantity</td>
                                            @if (CurrentUser?.UserId == _loggedInUser?.UserId)
                                            {
                                                <td class="align-items-center">
                                                    <span class="aktion-icon" role="button" @onclick="() => DeleteUnitAsync(item.UnitId)">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </span>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <PageTitle>Tablebricks - @localizer["USER"] @localizer["NOT_FOUND"]</PageTitle>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>@localizer["ERROR"]</h2>
                <p>@localizer["USER"] @localizer["NOT_FOUND"]</p>
            </div>
        </div>
    </div>
}

@if (AddFriendModal)
{
    <Modal Title="@localizer["FIND_PLAYERS"]"
           OnClosed="() => AddFriendModal = false"
           ModalSize="ModalSize.LG"
           HideFooter="true">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>@localizer["FILTER"]</h4>
                    </div>
                    <div class="card-content" style="padding: 0 1.3rem;">
                        <EditForm Model="Filter" OnValidSubmit="async () => await LoadAsync(true)">
                            <div class="form-floating mb-3">
                                <InputText @bind-Value="Filter.SearchPhrase" class="form-control" id="usermanagement-filter-searchphrase" placeholder="Search users" />
                                <label for="usermanagement-filter-searchphrase">@localizer["SEARCH"]</label>
                            </div>

                            <div class="toolbar">
                                <button type="submit" class="btn btn-primary">@localizer["SEARCH"]</button>
                            </div>

                        </EditForm>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table mb-0 table-lg">
                                <thead>
                                    <tr>
                                        <th>@localizer["USERNAME"]</th>
                                        <th>@localizer["NAME"]</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <Virtualize Items="Users" Context="user">
                                        <tr>
                                            <td>@user.Username</td>
                                            <td>@user.DisplayName</td>
                                            <td class="text-right">
                                                @if (Friends.FirstOrDefault(x => x.Id == user.Id) == null && user.Id != CurrentUser?.Id && user.Id > 1)
                                                {
                                                    <button type="button" class="btn" @onclick="() => AddFriendAsync(user.Id)">
                                                        <i class="fa-solid fa-user-plus"></i>
                                                    </button>
                                                }
                                            </td>
                                        </tr>
                                    </Virtualize>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </Modal>
}

@if (AddUnitModal)
{
    <Modal Title="Edit your armies"
           OnClosed="() => AddUnitModal = false"
           ModalSize="ModalSize.LG"
           HideFooter="true">

        <EditForm Model="Unit">
            <FluentValidationValidator />
            <ValidationSummary />
            <div class="row">
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <InputSelect id="select-fraction" @bind-Value="Unit.FractionId" class="form-control">
                            @if (Unit.FractionId == 0)
                            {
                                <option value="0" selected>@localizer["SELECT_CHOOSE"]</option>
                            }
                            @foreach (Fraction item in Fractions)
                            {
                                <option value="@item.FractionId">@item.GetLocalization(CultureInfo.CurrentCulture)?.Name</option>
                            }
                        </InputSelect>
                        <label for="select-fraction">@localizer["FRACTION"]</label>
                    </div>

                    <div class="form-floating mb-3">
                        <InputSelect id="select-unit" @bind-Value="Unit.UnitId" class="form-control">
                            @if (Unit.UnitId == 0)
                            {
                                <option value="0" selected>@localizer["SELECT_CHOOSE"]</option>
                            }
                            @foreach (Unit item in Units.Where(x => x.FractionId == Unit.FractionId))
                            {
                                <option value="@item.UnitId">@item.GetLocalization(CultureInfo.CurrentCulture)?.Name</option>
                            }
                        </InputSelect>
                        <label for="select-unit">@localizer["UNIT"]</label>
                    </div>

                    <div class="form-floating mb-3">
                        <InputNumber @bind-Value="Unit.Quantity" class="form-control" id="unit-quantity" placeholder="Quantity" />
                        <label for="unit-quantity">Quantity</label>
                    </div>
                </div>
            </div>
        </EditForm>

        <div class="toolbar">
            <button type="button" class="btn btn-success" @onclick="() => AddUnitAsync(Unit)" disabled="@(Unit.UnitId <= 0 || Unit.Quantity <= 0)">Save</button>
        </div>
    </Modal>
}

@if (EditProfile && CurrentUser != null)
{
    <Modal Title="Edit your profile"
           OnClosed="() => EditProfile = false"
           ModalSize="ModalSize.LG"
           HideFooter="true">

        <EditForm Model="CurrentUser">
            <FluentValidationValidator />
            <ValidationSummary />
            <div class="row">
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="CurrentUser.DisplayName" class="form-control" id="user-displayname" placeholder="Quantity" />
                        <label for="user-displayname">@localizer["NAME"]</label>
                    </div>

                    <div class="form-floating mb-3">
                        <InputSelect id="user-mainfraction" @bind-Value="CurrentUser.MainFractionId" class="form-control">
                            @if (CurrentUser.MainFractionId == 0)
                            {
                                <option value="0" selected>@localizer["SELECT_CHOOSE"]</option>
                            }
                            @foreach (Fraction item in Fractions)
                            {
                                <option value="@item.FractionId">@item.GetLocalization(CultureInfo.CurrentCulture)?.Name</option>
                            }
                        </InputSelect>
                        <label for="user-mainfraction">@localizer["MAIN_FRACTION"]</label>
                    </div>

                    <div class="form-floating mb-3">
                        <InputTextArea @bind-Value="CurrentUser.Description" class="form-control" id="user-description" placeholder="Quantity" />
                        <label for="user-description">@localizer["DESCRIPTION"]</label>
                    </div>

                    <div class="mb-3">
                        <InputFile @bind-Value="CurrentUser.Image" class="form-control" id="user-image" placeholder="Image" />
                    </div>
                </div>
            </div>
        </EditForm>

        <div class="toolbar">
            <button type="button" class="btn btn-success" @onclick="() => EditProfileAsync()">@localizer["SAVE"]</button>
        </div>
    </Modal>
}